<!DOCTYPE html>
<html>
  <head>
    <title>ひと息メッセージ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta property="og:title" content="ひと息メッセージ">
    <meta property="og:description" content="ちょっと一息、やさしさをどうぞ。">
    <meta property="og:image" content="<%= image_url('ogp_default.png') %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
